git+https://github.com/adsabs/ADSMicroserviceUtils.git@v1.0.10
git+https://github.com/adsabs/ADSPipelineMsg.git@v1.0.0
alembic==0.9.1
psycopg2==2.8.3
flask-discoverer==0.0.5
Flask-RESTful==0.3.6
Flask-Testing==0.6.2
Werkzeug==0.11.15
